*{
     margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header {
    background-color: white;
    padding: 60px;
    text-align: center;
    font-size: 97px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
}
body {
    background-color: rgb(26, 26, 26);
}
img {
    display: block;
    margin: auto;
    width: 100%;
}
.regular-text{
    color: white;
    font-size: 70px;
    padding-top: 50px;
    margin: 1cm;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}
.different-font {
    font-family: 'Times New Roman', Times, serif;
    font-weight: 100;
    align-items: center;
    text-align: center;
}